td {
    border: 1px solid #5bc9b1;
    width: 25px;
    height: 25px;
}
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.node_start{
    background-color: green;
    animation-name: start_node;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}
@keyframes start_node {
    0% {
      transform: scale(.3);
      background-color: orange;
      border-radius: 100%;
    }
    50% {
      background-color: lightgreen;
    }
    100% {
      transform: scale(1.2);
      background-color: green;
    }
  }
  @keyframes end_node {
    0% {
      transform: scale(.3);
      background-color: orange;
      border-radius: 100%;
    }
    50% {
      background-color: red;
    }
    100% {
      transform: scale(1.2);
      background-color: red;
    }
  }
.node_end{
    background-color: red;
    animation-name: end_node;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}
.node_wall{
    animation: pulse 1.5s 1;
    background-color: black;
    border: 1px solid black;
}

@keyframes pulse{
    0%{
        background-color: gray;

    }
    100%{
        background-color: black;
    }
}
.node_visited{
  background-color: lightseagreen;
  animation-name: visited;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 1;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes visited{
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}
.node_path{
  background-color: yellow;
}


.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-btn {
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #343A40;
  border: 1px solid #343A40;
  border-radius: 25px 25px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  animation: shadow-pulse 1s infinite;
  display: block;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 #343A40;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(130, 90, 164, 0);
  }
}
.chat-body {
  height: auto;
  min-height: 300px;
  min-width: 300px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  border: 3px solid #343A40;
  border-radius: 14px;
  display: block;
  transition: block 1s ease-out;
}
.chat-body .chat-head {
  background: #343A40;
  padding: 10px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: verdana;
}
